body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white; 
    
    background-image: url('../img/tlo_menu.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.nawigacja {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nawigacja.scroll {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.nawigacja a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.2s;
}
.nawigacja a:hover {
    color: rgb(27, 27, 80);
}

.menu-galeria {
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 0; 
    text-align: center; 
    overflow-x: hidden; 
    
    max-width: 600px;
    margin: 0 auto;
}

.menu-galeria img {
    display: block; 
    width: 100%;
    height: auto;
    margin: 0; 
    padding: 0; 
}

.kontakt {
    background-color: white; 
    color: black;
    padding: 10px 10px; 
    text-align: center;
}

.kontakt-content .info-group {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
}

.kontakt-info, .godziny {
    width: 45%; 
    padding: 0 20px;
    text-align: center; 
}

.kontakt h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: black;
    text-align: center;
}

.kontakt p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.kontakt a {
    color: #171c49; 
    text-decoration: none;
    transition: color 0.2s;
    font-weight: bold;
}

.kontakt a:hover {
    color: #3b4acd;
    text-decoration: underline;
}